[(marker:(0),components:(None)),(marker:(1),components:(None)),(marker:(2),components:(None)),(marker:(3),components:(None)),(marker:(4),components:(None)),(marker:(5),components:(None)),(marker:(6),components:(None)),(marker:(7),components:(None)),(marker:(8),components:(None)),(marker:(9),components:(None)),(marker:(10),components:(None)),(marker:(11),components:(None)),(marker:(12),components:(None)),(marker:(13),components:(None)),(marker:(14),components:(None)),(marker:(15),components:(None)),(marker:(16),components:(None)),(marker:(17),components:(None))]